.wrapper {
  position: relative;
  width: 230px;
  height: 56px;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--bg-second);
  border-radius: 8px;
  font-family: inherit;
  font-size: 14px;
  color: var(--color-txt);
  outline: none;
  padding: 20px;
  background: none;
  transition: all 200ms ease-in;
}
.input:hover {
  border-color: var(--color-txt);
}

.input:focus {
  border-color: var(--color-txt);
}

.label {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 8px;
  font-size: 20px;
  color: var(--color-txt);
  cursor: text;
  transition: all 200ms ease-in;
  background-color: var(--bg-main);
}

.input:hover ~ .label {
  color: var(--color-txt);
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: -1px;
  font-size: 14px;
  left: 14px;
  color: var(--color-txt);
}

.right-element {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-txt);
}

.right-element:hover {
  background-color: var(--color-hover);
}
